.dropbtn {
    background-color: #0aaa0f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .dropdownMenu {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownMenu__items:hover {background-color: #f1f1f1;}
  .dropdownMenu:hover .dropdown-content {display: block;}
  .dropdownMenu:hover .dropbtn {background-color: #3e8e41;}
  